autopep8==1.5.6
beautifulsoup4==4.9.3
certifi==2024.7.4
chardet==4.0.0
greenlet==1.0.0
idna==2.10
importlib-metadata==3.10.0
lxml==4.9.1
nepali-datetime==1.0.6
Pillow==9.3.0
pycodestyle==2.7.0
python-dateutil==2.8.1
python-dotenv==0.17.0
requests==2.25.1
six==1.15.0
soupsieve==2.2.1
SQLAlchemy==1.4.4
toml==0.10.2
typing-extensions==3.7.4.3
urllib3==1.26.5
zipp==3.4.1
